@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

.container {
    @apply mx-auto;
}

button• 
/*! BUTTON - start */
.btn {
    @apply disabled:opacity-50 transition duration-300 px-4 py-2 font-semibold text-sm rounded-lg shadow-sm;
}
.btn-blue {
    @apply bg-indigo-700 enabled:hover:bg-indigo-800 enabled:active:bg-indigo-900 text-white;
}

.btn-white {
    @apply bg-slate-50 enabled:hover:bg-slate-200 enabled:active:bg-slate-300 text-gray-900 ring-1 ring-inset ring-gray-300;
}
/* BUTTON - end */

/* ! PRODUCT - start */
.product_item {
    @apply relative overflow-hidden  p-6 rounded-xl bg-white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
/* PRODUCT - end */

/*! CART - start */
.cart-slide,
.setting_cart-slide,
#M-nav_content {
    transition: transform 0.5s ease-in-out;
}

.cart-backdrop,
.setting_cart-backdrop,
#M-nav_backdrop {
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.5s;
}

.bum {
    animation: bum 0.3s ease forwards;
}

@keyframes bum {
    0% {
        scale: 100%;
    }
    50% {
        scale: 200%;
    }
    100% {
        scale: 100%;
    }
}
/* CART - end */

/*! SCROLLBAR - start */
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: rgba(100, 116, 139, 0.502) rgba(100, 116, 139, 0.161);
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    width: 10px;
    width: 10px;
}
*::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: rgba(100, 116, 139, 0.161);
}
*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(100, 116, 139, 0.502);
}
/* SCROLLBAR - end */

/*! LOADDING - start */
.custom-loader {
    width: 50px;
    height: calc(50px * 0.866);
    display: grid;
    background: linear-gradient(
                to bottom left,
                #0000 calc(50% - 1px),
                #a19af4 0 calc(50% + 1px),
                #0000 0
            )
            right/50% 100%,
        linear-gradient(
                to bottom right,
                #0000 calc(50% - 1px),
                #eba5f6 0 calc(50% + 1px),
                #0000 0
            )
            left / 50% 100%,
        linear-gradient(#6485ff 0 0) bottom/100% 2px;
    background-repeat: no-repeat;
    transform-origin: 50% 66%;
    animation: h5 4s infinite linear;
}
.custom-loader::before,
.custom-loader::after {
    content: "";
    grid-area: 1/1;
    background: inherit;
    transform-origin: inherit;
    animation: inherit;
}
.custom-loader::after {
    animation-duration: 2s;
}
@keyframes h5 {
    100% {
        transform: rotate(1turn);
    }
}
/* LOADDING - end */

/*! FILTER - start */
.filter_from {
    @apply transform opacity-0 scale-95;
}

.filter_to {
    @apply transform opacity-100 scale-100;
}

.filter_list {
    @apply transition ease-out duration-100;
}
/* FILTER - end */

/*! TOAST - start */
.toastify {
    @apply text-gray-900 font-semibold text-sm rounded-lg shadow-lg fixed ring-1 ring-inset ring-gray-300 grid grid-cols-7  items-center gap-y-3;
    padding: 20px 0;
    z-index: 100;
    background-color: white;
    width: 22rem;
}

.notification_title {
    @apply font-semibold col-start-2 col-end-7 row-start-1;
}

.notification_mes {
    @apply text-slate-500 col-start-2 col-end-7 row-start-2;
    font-weight: 400;
}

.notification_suc {
    @apply text-green-500 justify-self-center col-start-1 row-start-1;
    font-size: 1.3rem;
    padding: 0.1rem 0;
}

.toast-close {
    @apply text-slate-500 col-start-7 justify-self-center;
}
/* TOAST - end */
