@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

.container {
    @apply mx-auto;
}

.btn {
    @apply disabled:opacity-50 transition duration-300 px-4 py-2 font-semibold text-sm rounded-lg shadow-sm;
}
.btn-blue {
    @apply bg-indigo-700 enabled:hover:bg-indigo-800 enabled:active:bg-indigo-900 text-white;
}

.btn-white {
    @apply bg-slate-50 enabled:hover:bg-slate-200 enabled:active:bg-slate-300 text-gray-900 ring-1 ring-inset ring-gray-300;
}

/* PRODUCT */
.product_item {
    @apply relative overflow-hidden  p-6 rounded-xl bg-white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.cart-slide,
#M-nav_content {
    transition: transform 0.5s ease-in-out;
}

.cart-backdrop,
#M-nav_backdrop {
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.5s;
}

.bum {
    animation: bum 0.3s ease forwards;
}

@keyframes bum {
    0% {
        scale: 100%;
    }
    50% {
        scale: 200%;
    }
    100% {
        scale: 100%;
    }
}
