@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

.container {
    @apply mx-auto;
}

.btn {
    @apply disabled:opacity-50 transition duration-300 px-4 py-2 font-semibold text-sm rounded-lg shadow-sm;
}
.btn-blue {
    @apply bg-indigo-700 enabled:hover:bg-indigo-800 enabled:active:bg-indigo-900 text-white;
}

.btn-white {
    @apply bg-slate-50 enabled:hover:bg-slate-200 enabled:active:bg-slate-300 text-gray-900 ring-1 ring-inset ring-gray-300;
}

/* PRODUCT */
.product_item {
    @apply relative overflow-hidden  p-6 rounded-xl bg-white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.cart-slide,
#M-nav_content {
    transition: transform 0.5s ease-in-out;
}

.cart-backdrop,
#M-nav_backdrop {
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.5s;
}

.bum {
    animation: bum 0.3s ease forwards;
}

@keyframes bum {
    0% {
        scale: 100%;
    }
    50% {
        scale: 200%;
    }
    100% {
        scale: 100%;
    }
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: rgba(100, 116, 139, 0.502) rgba(100, 116, 139, 0.161);
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    width: 10px;
    width: 10px;
}
*::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: rgba(100, 116, 139, 0.161);
}

*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(100, 116, 139, 0.502);
}
.flipswitch {
    position: relative;
    width: 62px;
}
.flipswitch input[type="checkbox"] {
    display: none;
}
.flipswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #1e293b;
    border-radius: 50px;
}
.flipswitch-inner {
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.flipswitch-inner:before,
.flipswitch-inner:after {
    float: left;
    width: 50%;
    height: 20px;
    padding: 0;
    line-height: 20px;
    font-size: 14px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}
.flipswitch-inner:before {
    content: "dark";
    padding-left: 6px;
    background-color: #1e293b;
    color: #ffffff;
}
.flipswitch-inner:after {
    content: "light";
    padding-right: 7px;
    background-color: #ebebeb;
    color: #888888;
    text-align: right;
}
.flipswitch-switch {
    width: 26px;
    margin: -3px;
    background: #ffffff;
    border: 1px solid #1e293b;
    border-radius: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 43px;
    transition: all 0.3s ease-in 0s;
}
.flipswitch-cb:checked + .flipswitch-label .flipswitch-inner {
    margin-left: 0;
}
.flipswitch-cb:checked + .flipswitch-label .flipswitch-switch {
    right: 0;
}
